aib_region                = "eastus"
aib_subnet_id             = ""
aib_container_instance_subnet_id = ""
aib_vm_size               = "Standard_D4s_v5"
aib_os_disk_size_gb       = 127
image_replication_regions = ["eastus"]
location                  = "eastus"
offer                     = "WindowsServer"
publisher                 = "MicrosoftWindowsServer"
sku                       = "2022-datacenter-g2"
source_image_version      = "latest"
compute_gallery_name          = "gal_avd_images"
gallery_image_definition_name = "imgdef-winserver2022-avd"
image_template_name           = "it-winserver2022-avd"
run_output_name               = "ro-winserver2022-avd"
optimization_script_uri   = "https://raw.githubusercontent.com/Azure/avdaccelerator/main/workload/scripts/Optimize_OS_for_AVD.ps1"
tags = {
  project = "Custom-Image-Builder-Demo"
}
